<div class="container mt-1">
  <h1 *ngIf="user">Home</h1>
  <h2 *ngIf="!user">Autenticati per continuare.</h2>
  <form *ngIf="user" (submit)="this.onSubmit($event)">
    <div class="d-flex flex-row gap-1 align-items-center justify-content-center w-100">
      <div class="w-100" class="form-group w-100">
        <input [formControl]="this.city" type="text" class="form-control w-100" id="city" aria-describedby="city" placeholder="Città">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <br>
  <div *ngIf="loading" class="container">
    <div class="d-flex justify-content-center align-items-center flex-column text-center">
      <div class="spinner-border text-center" role="status"></div>
      <p class="text-center">Caricamento in corso...</p>
    </div>
  </div>
  <h3 class="d-flex w-100 justify-content-center align-items-center" *ngIf="!this.forecast && !this.loading && this.user">Città non trovata.</h3>
  <div *ngIf="this.forecast && !this.loading && this.user" class="d-flex flex-column justify-content-center align-items-center w-100">
    <h2>{{geocodings[0].name}}</h2><br />
    <h3>{{forecast?.minutely15?.temperature2m?.at(0)}}{{forecast?.minutely15_units?.temperature2m}}</h3>
    <h4>{{this.weahterCodeToString()}}</h4>

    <div class="d-flex flex-row flex-wrap gap-2 justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Temperatura massima</h5>
          <p class="card-text">{{forecast?.daily?.temperature2m_max?.at(0)}}{{forecast?.minutely15_units?.temperature2m}}</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Temperatura minima</h5>
          <p class="card-text">{{forecast?.daily?.temperature2m_min?.at(0)}}{{forecast?.minutely15_units?.temperature2m}}</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Velocità vento (10m)</h5>
          <p class="card-text">{{forecast?.hourly?.wind_speed10m?.at(0)}}{{forecast?.hourly_units?.wind_speed10m?.at(0)}}</p>
        </div>
      </div>
    </div>

    <br />
    <button (click)="this.sendToDb($event)" type="button" class="btn btn-primary">Salva</button>

  </div>

  <h2 *ngIf="user">Le tue previsioni salvate</h2>

  <table class="table" *ngIf="user">
    <thead>
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Città</th>
      <th scope="col">Latitudine</th>
      <th scope="col">Longitudine</th>
      <th scope="col">Temperatura minima</th>
      <th scope="col">Temperatura massima</th>
      <th scope="col">Azioni</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let forecast of myForecasts">
      <th scope="row">{{forecast?.daily?.time?.at(0)}}</th>
      <td>{{forecast?.city}}</td>
      <td>{{forecast?.latitude}}</td>
      <td>{{forecast?.longitude}}</td>
      <td>{{forecast?.daily?.temperature2m_min?.at(0)}}</td>
      <td>{{forecast?.daily?.temperature2m_max?.at(0)}}</td>
      <button (click)="this.onForecastDelete($event, forecast?.id)" type="button" class="btn btn-danger">Elimina</button>
    </tr>
    </tbody>
  </table>
</div>
